:root{
    --darkbg:#1f2937;
}
*{
    /* outline:1px solid red; */
    margin: 0;padding: 0;
    font-family: roboto, sans-serif;
}
/*   */
header{
    background-color: var(--darkbg);
    color:white;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 2.8em;
    align-items: center;
    padding:20px;
    display: flex;
    gap:30px;
}
.toggle__menu{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap:3px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.toggle__menu span{
    background-color: #fff;
    height: 4px;
    width: 100%;
    transition: all .5s ease;
}
.toggle__menu.active span:nth-child(1){
    transform: rotate(45deg) translate(5px, 13px);
    background-color: red;
}
.toggle__menu.active span:nth-child(2){
    opacity:0;
}
.toggle__menu.active span:nth-child(3){
    transform: rotate(-45deg) translate(5px,-13px);
    background-color: red;
}
nav{
    padding:10px 20px;
    background-color:#1f2937;
    height: 100%;

    /* width: 80vw; */
    /* display: flex; */
}

nav ul{
    list-style-type: none;
    display: none;
    flex-direction: column;
    transition: all .225s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(-100%);
}
/* nav ul:active{
    width: 100%;   
    height: 100%;
    background-color: #fff;

} */
nav ul li{
    padding: 20px;
    margin:10px
}
nav ul li a{
    color:white;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}
.menu__toggle{
    cursor:pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;

}
.menu__toggle span{
    display: block;
    width: 100%;
    margin:2px;
    height: 2px;
    background-color: #c90909;
    transition:all .3s ease;
}
.menu__toggle.active span:nth-child(1){
    transform: rotate(45deg) translate(5px,5px);

}
.menu__toggle.active span:nth-child(2){
    opacity: 0;
}
.menu__toggle.active span:nth-child(3){
    transform: rotate(45deg) translate(5px,5px);

}
/* nav ul{
    list-style: none;
    display: none;
    margin: 0;padding: 0;

} */
.menu li{
    margin: 0 10px;
}

.menu a{
    color:rgb(170, 4, 4);
    text-decoration: none;
}
.hero{
    display: flex;
    flex-direction: column-reverse;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--darkbg);
    color:white;
}
.text h2{
    font-size: 1.7em;
    text-align: left;
    padding:10px 5px
}
.text p{
    padding: 5px;
    text-align: justify;
    padding-inline: 15px;
    font-size: 1.1em;
}
 
.text button {
    background-color: red;
    width: 80%;
    margin-inline:auto ;
    margin-bottom:10px;
    font-size: 1.4em;
    font-weight: boder;
    border:none;
    background-color: #3882f6;
    border-radius: 6px;
    padding:10px;
    color:inherit;
}

.img{
    height: 320px;
    position: relative;
}

@media (max-width:768px){
    .menu{
        display:none;
        flex-direction: column;

    }
    .menu-toggle{
        display: flex;

    }
    .menu-active{
        display: flex;
        transform: translateX(0);
    }
}